body {
  background: #130f40;
  overflow-x: hidden;
}

.App {
  max-width: 1600px;
  margin: auto;
}

#bg-circle1 {
  box-shadow: 0 0 300px 200px #4834d4;
}
#bg-circle2 {
  box-shadow: 0 0 300px 200px #273c75;
}

@media (min-width: 1000px) {
  #bg-circle1 {
    box-shadow: 0 0 700px 400px #4834d4;
  }
  #bg-circle2 {
    box-shadow: 0 0 700px 400px #273c75;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  height: min-content;
}

#home-grid {
  grid-template-rows: 50% 50%;
}

#visuContainer {
  height: 50vh;
}

@media (min-width: 768px) {
  #home-grid {
    grid-template-rows: 100%;
  }
  #visuContainer {
    height: auto;
  }
} ;
